<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079278974465-3p6318vi5qcsotnkb4664pqmmfhaev58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079278974465-3p6318vi5qcsotnkb4664pqmmfhaev58</string>
	<key>API_KEY</key>
	<string>AIzaSyD1_dAYpidhlECF3XR3yBnlr6pgnO8NlL0</string>
	<key>GCM_SENDER_ID</key>
	<string>1079278974465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sowedaneItSolutionsPvtLtd</string>
	<key>PROJECT_ID</key>
	<string>sowedane-it-solutions-pvt-ltd</string>
	<key>STORAGE_BUCKET</key>
	<string>sowedane-it-solutions-pvt-ltd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079278974465:ios:96f35d3f371928494db200</string>
</dict>
</plist>